*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
body {
  width: 95%;
  padding: 10px;
}
nav {
  color: #333;
  margin:  10px auto;
  padding: 10px;
  margin-bottom: 30px;
  display: flex;
  background-color: #333;
}
.logo {
  width: 60px;
  height: 60px;
}
nav ul {
margin: 20px;
}
nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  padding: 20px;
  color:#fff;
  border-radius: 3px;
  background-color: rgb(12, 116, 177);
}
h1 {
  border-bottom: 3px solid #333;
  margin: 10px;
}
.projects ul{
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.projects {
  position: relative;
  top: 20px;
  left: 5%;
  padding: 20px;
}
.projects li {
  display: inline-block;
  margin: 30px;
}

.projects li a {
  padding: 50px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #333;
  font-weight: bold;
  color:#fff;
  border-bottom: 10px solid #93572f;
}
.projects li a:hover {
  background-color: #93572f;
}
