
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  background-color: rgb(240, 242, 245);
}

/* Head and Navigation Styling */
header {
  height: 70vh;
}

.head-title {
  padding: 20px;
  text-align: center;
  background-color: #27a183;
  color: white;
}

.head-title p {
  font-size: 30px;
  font-weight: bold;
}

nav {
  background-color: #27a183;
}

nav ul {
  display: flex;
  list-style: none;
  width: 70%;
  margin: 0 auto;
  border-top: 5px solid #286d5c;
}

nav ul li {
  flex: 1;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
}

nav ul li a:hover {
  background-color: #286d5c;
}

/* Banner Styling */
.banner {
  display: flex;
  height: 100%;
}

.intro-content {
  flex: 50%;
  padding-left: 8%;
  padding-top: 5%;
  padding-right: 6%;
  background-color: #b6e0db;
}

.intro-content h1 {
  margin: 1.5% auto;
  font-size: 38px;
}

.intro-content p {
  margin: 3% auto;
  padding-right: 10%;
}

.btn {
  text-align: center;
}

.btn-contact {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 18px;
  margin: 8px;
  padding: 15px 100px;
  background-color: #e06c1f;
  color: white;
  box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.3);
  transition: opacity 0.15s;
}

.btn-contact:hover {
  opacity: 0.90;
}

.btn-contact:active {
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: none;
}

.banner-images {
  flex: 40%;
  position: relative;
  left: -50px;
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  flex-wrap: wrap;
}

.banner-images img {
  width: 50%;
  height: 50%;
  padding: 5px;
  object-fit: cover;
}

.social-media {
  flex: 5%;
  position: relative;
  top: 30px;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
}

.social-media a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px;
  text-decoration: none;
}
.social-media a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

/* main styling */
main {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
}

main h1 {
  margin: 10px;
}

.offerings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

 .offer {
  flex: 1;
  height: 40vh;
  width: 40vw;
  text-align: center;
}

.offer img {
  display: block;
  width: 90%;
  height: 90%;
  margin: 5px;
}

.offer p {
  display: block;
  margin: 10px;
  font-weight: bold;
}
footer {
  margin-top: 100px;
}

@media (max-width: 480px) {
  .head-title {
    padding: 30px;
  }
  nav, ul {
    display: none;
  }
  .banner {
    display: block;
    background-color: #b6e0db;
  }
  .banner-images {
    display: none;
  }
  .intro-content {
    width: 90%;
    float: left;
  }
  .social-media {
    float: right;
    width: 5%;
    height: 30%;
    right: 40px;
    top: 100px
  }
  .intro-content h1 {
    font-size: 30px;
  }
  .intro-content p {
    margin: 5% auto;
    padding-right: 5%;
  }
  main {
    padding: 8px;
  }
  .offerings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .offer {
    flex: 1;
    width: 100%;
    height: 100%;
  }
  .offer p {
    font-size: 16px;
    font-weight: bold;
  }
  .offer img {
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  img {
    width: 80%;
    height: auto;
  }
}